
.container-4{
    margin-top: 100px;
    display: flex;
    justify-content: center; 
    align-items: center; 

}

.card-4{
    /* display: flex; */
    align-items: center;
    border: 2px solid black;
    /* flex-direction: column; */
    width: 50vw;
   

}

#time{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}